<h1 class="page-title">All movies</h1>

<div class="all-movie">
  <% @movies.each do |movie| %>
    <h2 class="movie-name"><%= link_to movie.title, movie_path(movie) %></h2>
    <h3 class="movie-description">
      <span class="description-label">Description:</span>
      <%= movie.description %>
    </h3>
    <div class="movie-info">
      <p>Duration: <%= movie.duration %></p>
      <p>Director: <%= movie.director %></p>
      <p>Year of Creation: <%= movie.year_of_creation %></p>
      <p>Genre: <%= movie.genres %></p>
    </div>
  <% end %>
</div>
