<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OMDB Search</title>
</head>
<body>
<h1 class="page-title">Search Movies via OMDB</h1>
<form action="/movies/omdb_search" method="get">
  <label style="color: #e2e1ef;" for="search_query">Search Query</label>
  <input type="text" id="search_query" name="search_query">
  <button class="btn" type="submit">Search</button>
</form>
<% if @search_result %>
  <ul>
    <% @search_result.each do |movie| %>
      <li>
        <div class="movie">
          <div class="movie-details">
            <%= movie['Title'] %> - <%= movie['Year'] %>
          </div>
          <div class="movie-poster">
            <% if movie['Poster'] != 'N/A' %>
              <%= image_tag(movie['Poster'], alt: "#{movie['Title']} poster") %>
            <% else %>
              <%= image_tag('movie-poster-credits-178.jpg', alt: 'Default Image') %>
            <% end %>
          </div>
        </div>
        <form action="/movies/omdb_import" method="post">
          <input type="hidden" name="omdb_id" value="<%= movie['imdbID'] %>">
          <button class="movie-import-btn" type="submit">Import This Movie</button>
        </form>
      </li>
    <% end %>
  </ul>
<% end %>
</body>
</html>
