<h1 class="page-title">Show movie</h1>
<h2 class="show-movie-name">
  <span class="show-movie-label"><%= @movie.title%></span>
</h2>

<h3 class="movie-description">
  <span class="description-label">Description:</span>
  <%= @movie.description %>
</h3>
<div class="show-movie">

  <div class="movie-info">
    <p>Duration: <%= @movie.duration %></p>
    <p>Director: <%= @movie.director %></p>
    <p>Year of Creation: <%= @movie.year_of_creation %></p>
    <p>Genre: <%= @movie.genres %></p>
  </div>

  <%= link_to 'Edit', edit_movie_path(@movie), class: "edit-button" %>
  <p><%= link_to 'Delete Movie', movie_path(@movie), method: :delete, class: "delete-button" %></p>

  <%= render 'movies/shared/comment', movie: @movie %>
</div>
