<div class="header">
  <div class="header-button">
    <% if user_signed_in? %>
      <%= link_to 'Log Out' , destroy_user_session_path , method: :delete, data: { turbo_method: :delete}, class: "header-button-h" %>
      <%= link_to 'Create Movie', new_movie_path, class: "header-button-h"%>
      <%= link_to 'Search OMDB', omdb_search_movies_path, class: "header-button-h" %>
      <%= link_to 'All Movies', movies_path, class: "header-button-h"%>
      <%= link_to 'Search Movie', search_movies_path, class: "header-button-h" %>

    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: "header-button-h" %>
    <% end %>
  </div>

</div>
